
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fff; 
  color: linear-gradient(135deg, #a259ff 0%, #6c63ff 100%);
}

@keyframes gradientColor {
  0%   { color: #ffffff; }
  33%  { color: #a259ff; }
  66%  { color: #6c63ff; }
  100% { color: #ffffff; }
}

.loader {
  --d:22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: #fff;
  animation: 
    l27 1s infinite steps(8),
    gradientColor 2s infinite linear;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
}


@keyframes l27 {
  100% { transform: rotate(1turn); }
}
